{
    "swagger": "2.0",
    "info": {
        "description": "<h3>How to generate API clients and server stubs:</h3>java -jar <a href='https://www.buildandfixkh.com/api/swagger-codegen-cli-2.4.0.jar' target='_blank'>swagger-codegen-cli-2.4.0.jar</a> generate -l typescript-angular -i https://www.buildandfixkh.com/api/v2/api-docs -o /Users/sangkhim/Desktop/swagger<h3>LANGUAGES:</h3>-l typescript-angular (Angular)<br />-l javascript (React)<br />-l java (Android)<br />-l kotlin (Android)<br />-l objc (Objective C)<br />-l swift4 (Swift 4)",
        "version": "API",
        "title": "SCG Build & Fix",
        "termsOfService": "Terms of service",
        "contact": {
            "name": "UDAYA Technology",
            "url": "www.udaya-tech.com",
            "email": "info@udaya-tech.com"
        },
        "license": {
            "name": "License of API",
            "url": "API license URL"
        }
    },
    "host": "buildandfixkh.com",
    "basePath": "/api",
    "tags": [{
            "name": "auth",
            "description": "Auth Resource"
        },
        {
            "name": "booking",
            "description": "Booking Resource"
        },
        {
            "name": "category",
            "description": "Category Resource"
        },
        {
            "name": "certificate",
            "description": "Certificate Resource"
        },
        {
            "name": "contractor",
            "description": "Contractor Resource"
        },
        {
            "name": "contractor-type",
            "description": "Contractor Type Resource"
        },
        {
            "name": "customer",
            "description": "Customer Resource"
        },
        {
            "name": "customer-review",
            "description": "Customer Review Resource"
        },
        {
            "name": "district",
            "description": "District Resource"
        },
        {
            "name": "event",
            "description": "Event Resource"
        },
        {
            "name": "file",
            "description": "File Resource"
        },
        {
            "name": "living-idea",
            "description": "Living Idea Resource"
        },
        {
            "name": "login-device",
            "description": "Login Device Resource"
        },
        {
            "name": "project",
            "description": "Project Resource"
        },
        {
            "name": "project-review",
            "description": "Project Review Resource"
        },
        {
            "name": "province",
            "description": "Province Resource"
        },
        {
            "name": "service",
            "description": "Service Resource"
        },
        {
            "name": "shop",
            "description": "Shop Resource"
        },
        {
            "name": "skill",
            "description": "Skill Resource"
        },
        {
            "name": "user",
            "description": "User Resource"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Login",
                "operationId": "loginUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "password",
                        "in": "query",
                        "description": "password",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "username",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«OauthToken»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/auth/login-with-refresh-token": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Login with refresh token",
                "operationId": "loginWithRefreshTokenUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "refreshToken",
                    "in": "query",
                    "description": "refreshToken",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«OauthToken»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/booking/add": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "Add new booking",
                "operationId": "addUsingPOST",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "appointmentDate",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "customerId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "requestDate",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serviceId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/booking/count": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "Count booking status",
                "operationId": "countUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "bookingFilterStatus",
                    "description": "bookingFilterStatus",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/BookingFilterStatus"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«List«BookingFilterStatus»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/booking/delete/{id}": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "Delete booking by id",
                "operationId": "deleteUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/booking/find/{id}": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "Find booking by id",
                "operationId": "findByIdUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«Booking»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/booking/list": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "List booking by filter",
                "operationId": "listUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "filter",
                    "description": "filter",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/BookingFilter"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«List«Booking»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/booking/list-status": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "List booking by filter",
                "operationId": "listStatusUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "bookingFilterStatus",
                    "description": "bookingFilterStatus",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/BookingFilterStatus"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«List«BookingFilterStatus»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/booking/update": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "Update booking by id",
                "operationId": "updateUsingPOST",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "appointmentDate",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "bookingId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "contractorId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "customerId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "requestDate",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "serviceId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/booking/update-status": {
            "post": {
                "tags": [
                    "booking"
                ],
                "summary": "Update booking status by id",
                "operationId": "updateStatusUsingPOST",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "bookingId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "1: REQUESTED, 2: DECLINED, 3: ACCEPTED, 4: APPOINTED, 5: ARRIVED, 6: STARTED, 7: FINISHED, 8: CANCELLED",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/category/add": {
            "post": {
                "tags": [
                    "category"
                ],
                "summary": "Add new category",
                "operationId": "addUsingPOST_1",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "descriptionKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "description": "files",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nameKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/category/delete/{id}": {
            "post": {
                "tags": [
                    "category"
                ],
                "summary": "Delete category by id",
                "operationId": "deleteUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/category/find/{id}": {
            "post": {
                "tags": [
                    "category"
                ],
                "summary": "Find category by id",
                "operationId": "findByIdUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«Category»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/category/list": {
            "post": {
                "tags": [
                    "category"
                ],
                "summary": "List category by filter",
                "operationId": "listUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "filter",
                    "description": "filter",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CategoryFilter"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«List«Category»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/category/update": {
            "post": {
                "tags": [
                    "category"
                ],
                "summary": "Update category by id",
                "operationId": "updateUsingPOST_1",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "categoryId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "deleteCategoryImageIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "descriptionKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "description": "files",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nameKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/certificate/add": {
            "post": {
                "tags": [
                    "certificate"
                ],
                "summary": "Add new certificate",
                "operationId": "addUsingPOST_2",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "descriptionKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "eventId",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "description": "files",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nameKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/certificate/delete/{id}": {
            "post": {
                "tags": [
                    "certificate"
                ],
                "summary": "Delete certificate by id",
                "operationId": "deleteUsingPOST_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/certificate/find/{id}": {
            "post": {
                "tags": [
                    "certificate"
                ],
                "summary": "Find certificate by id",
                "operationId": "findByIdUsingPOST_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«Certificate»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/certificate/list": {
            "post": {
                "tags": [
                    "certificate"
                ],
                "summary": "List certificate by filter",
                "operationId": "listUsingPOST_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "filter",
                    "description": "filter",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CertificateFilter"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«List«Certificate»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/certificate/update": {
            "post": {
                "tags": [
                    "certificate"
                ],
                "summary": "Update certificate by id",
                "operationId": "updateUsingPOST_2",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "certificateId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "deleteCertificateImageIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "descriptionKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "eventId",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "description": "files",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nameKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor-type/add": {
            "post": {
                "tags": [
                    "contractor-type"
                ],
                "summary": "Add new contractorType",
                "operationId": "addUsingPOST_4",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "abbr",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor-type/delete/{id}": {
            "post": {
                "tags": [
                    "contractor-type"
                ],
                "summary": "Delete contractor type by id",
                "operationId": "deleteUsingPOST_4",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor-type/find/{id}": {
            "post": {
                "tags": [
                    "contractor-type"
                ],
                "summary": "Find contractor type by id",
                "operationId": "findByIdUsingPOST_4",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«ContractorType»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor-type/list": {
            "post": {
                "tags": [
                    "contractor-type"
                ],
                "summary": "List contractor type by filter",
                "operationId": "listUsingPOST_4",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "filter",
                    "description": "filter",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ContractorTypeFilter"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«List«ContractorType»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor-type/update": {
            "post": {
                "tags": [
                    "contractor-type"
                ],
                "summary": "Update contractor type by id",
                "operationId": "updateUsingPOST_4",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "abbr",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorTypeId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor/add": {
            "post": {
                "tags": [
                    "contractor"
                ],
                "summary": "Add new contractor",
                "description": "Add new contractor",
                "operationId": "addUsingPOST_3",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "address",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "certificateIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "commune",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorApproveDate",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorCode",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorId",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorRequestDate",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorTypeId",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dateOfBirth",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "descriptionKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "districtId",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "eventIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "gender",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "houseNumber",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nameKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nationality",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "provinceId",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "serviceIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "skillIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "streetNumber",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "telephone",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "village",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor/delete/{id}": {
            "post": {
                "tags": [
                    "contractor"
                ],
                "summary": "Delete contractor by id",
                "description": "Delete contractor",
                "operationId": "deleteUsingPOST_3",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor/find/{id}": {
            "post": {
                "tags": [
                    "contractor"
                ],
                "summary": "Find contractor by id",
                "operationId": "findByIdUsingPOST_3",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«User»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor/list": {
            "post": {
                "tags": [
                    "contractor"
                ],
                "summary": "List contractor by filter",
                "description": "List contractor by filter",
                "operationId": "listUsingPOST_3",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "filter",
                    "description": "filter",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/UserFilter"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«List«User»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor/update": {
            "post": {
                "tags": [
                    "contractor"
                ],
                "summary": "Update contractor by id",
                "description": "Update contractor",
                "operationId": "updateUsingPOST_3",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "address",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "certificateIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "commune",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorApproveDate",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorCode",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorId",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorRequestDate",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorTypeId",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "dateOfBirth",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "descriptionKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "districtId",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "eventIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "gender",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "houseNumber",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nameKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nationality",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "provinceId",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "serviceIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "skillIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "streetNumber",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "telephone",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "village",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor/update-status": {
            "post": {
                "tags": [
                    "contractor"
                ],
                "summary": "Update contractor status by id",
                "operationId": "updateStatusUsingPOST_1",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "1: REQUESTED, 2: DECLINED, 3: ACCEPTED",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "userId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/contractor/upload": {
            "post": {
                "tags": [
                    "contractor"
                ],
                "summary": "Upload Image",
                "operationId": "uploadUsingPOST",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "contractorId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "eventId",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer-review/add": {
            "post": {
                "tags": [
                    "customer-review"
                ],
                "summary": "Add new customer review",
                "operationId": "addUsingPOST_6",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "comment",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "customerId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "description": "files",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "rating",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer-review/delete/{id}": {
            "post": {
                "tags": [
                    "customer-review"
                ],
                "summary": "Delete customer review by id",
                "operationId": "deleteUsingPOST_6",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer-review/find/{id}": {
            "post": {
                "tags": [
                    "customer-review"
                ],
                "summary": "Find customer review by id",
                "operationId": "findByIdUsingPOST_6",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«CustomerReview»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer-review/list": {
            "post": {
                "tags": [
                    "customer-review"
                ],
                "summary": "List customer review by filter",
                "operationId": "listUsingPOST_6",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "filter",
                    "description": "filter",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CustomerReviewFilter"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«List«CustomerReview»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer-review/update": {
            "post": {
                "tags": [
                    "customer-review"
                ],
                "summary": "Update customer review by id",
                "operationId": "updateUsingPOST_6",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "comment",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contractorId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "customerId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "customerReviewId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "deleteCustomerReviewImageIdList",
                        "in": "formData",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "files",
                        "in": "formData",
                        "description": "files",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "file"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "rating",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer/add": {
            "post": {
                "tags": [
                    "customer"
                ],
                "summary": "Add new customer",
                "description": "Add new customer",
                "operationId": "addUsingPOST_5",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "address",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "dateOfBirth",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "descriptionKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "file",
                        "required": false,
                        "type": "file"
                    },
                    {
                        "name": "gender",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nameKh",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "nationality",
                        "in": "formData",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "telephone",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer/add-favorite-contractor": {
            "post": {
                "tags": [
                    "customer"
                ],
                "summary": "Add favorite contractor",
                "description": "Add new customer",
                "operationId": "addFavoriteContractorUsingPOST",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                        "name": "contractorId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "customerId",
                        "in": "formData",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer/delete/{id}": {
            "post": {
                "tags": [
                    "customer"
                ],
                "summary": "Delete customer by id",
                "description": "Delete customer",
                "operationId": "deleteUsingPOST_5",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«string»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer/find/{id}": {
            "post": {
                "tags": [
                    "customer"
                ],
                "summary": "Find customer by id",
                "operationId": "findByIdUsingPOST_5",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«User»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer/list": {
            "post": {
                "tags": [
                    "customer"
                ],
                "summary": "List customer by filter",
                "description": "List customer by filter",
                "operationId": "listUsingPOST_5",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "filter",
                    "description": "filter",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/UserFilter"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage«List«User»»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [{
                    "Bearer": []
                }],
                "deprecated": false
            }
        },
        "/customer/remove-favorite-contractor": {
            "post": {
                "tags": [
                    "customer"
                ],
[...]
